---
import * as d3 from 'd3'
import { getCollection } from 'astro:content'
import TagPercentage from './TagPercentage.astro'
import AuthorAvatar from './AuthorAvatar.astro'
import config from '@/consts'
import { aggregateByTag, getSafePostsInfo } from '@/theme/lib/post'

const posts = await getSafePostsInfo(getCollection('blog'))

const tagStats = aggregateByTag(posts)
const tagColorScale = d3.scaleOrdinal(Object.keys(tagStats), d3.schemeTableau10)

const tagsData = Array.from(tagStats.entries()).map(([tag, info]) => ({
  name: tag,
  color: tagColorScale(tag),
  count: info.length,
})).sort((a, b) => b.count - a.count)

---

<div class="flex flex-col items-center gap-3 md:gap-4">
  <AuthorAvatar
    class:list="mask mask-squircle w-28 bg-neutral text-neutral-content font-semibold text-3xl"
  />
  <div class="flex flex-col items-center gap-1 px-1">
    <span class="font-semibold break-all">
      {config.author.name}
    </span>
    <span class="text-xs break-all px-1 opacity-80">
      {config.author.signature}
    </span>
  </div>

  <div class="w-full mt-1 md:mt-3 flex flex-wrap gap-2">
    <!-- {
      tagsData.map(data => (
        <span class="p-1 text-sm rounded-lg text-white" style={{ backgroundColor: data.color }}>
          {data.name} ({data.count})
        </span>
      ))
    } -->
    <TagPercentage posts={posts} />
     <!-- <TagTreemap posts={posts} /> -->
  </div>
</div>
