---
import '@/theme/styles/globals.css'
import { getCollection } from 'astro:content'
import Header from '../components/Header.astro'
import { getLanguageCode } from '../lib/utils'
import AuthorAvatar from '@/theme/components/AuthorInfo/AuthorAvatar.astro'
import TagPercentage from '@/theme/components/AuthorInfo/TagPercentage.astro'
import BaseHead from '@/theme/components/BaseHead.astro'
import config from '@/consts'
import DarkModeAdaptor from '@/theme/components/DarkModeAdaptor.astro'
import ScrollArea from '@/theme/components/ScrollArea.astro'
import { getSafePostsInfo } from '@/theme/lib/post'

const posts = await getSafePostsInfo(getCollection('blog'))
---

<!doctype html>
<html lang={getLanguageCode()}>
  <head>
    <BaseHead title={config.site.title} description={config.site.description} />
    <DarkModeAdaptor />
  </head>
  <body>
    <div class="flex flex-col w-screen h-screen">
      <Header />
      <div class="flex-1 w-full overflow-y-auto">

        <!-- Desktop -->
        <div class="hidden md:block h-full w-full">
          <div class="h-full flex">
              <ScrollArea class="w-1/4 max-w-80 h-full p-1 md:p-2">
                <div class="flex flex-col items-center gap-3 md:gap-4">
                  <AuthorAvatar class:list="mask mask-squircle w-28 bg-neutral text-neutral-content font-semibold text-3xl" />
                  <div class="flex flex-col items-center gap-1 px-1">
                    <span class="font-semibold break-all">
                      {config.author.name}
                    </span>
                    <span class="text-xs break-all px-1 opacity-80">
                      {config.author.signature}
                    </span>
                  </div>
                  <div class="w-full mt-1 md:mt-3 flex flex-wrap gap-2">
                    <TagPercentage class="lg:hidden" posts={posts} />
                  </div>
                </div>
              </ScrollArea>
              <ScrollArea class="flex-1 h-full">
                <slot />
              </ScrollArea>
              <ScrollArea class="w-1/4 max-w-80 h-full p-1 hidden lg:flex flex-col items-center">
                <section class="card w-full bg-base-100 p-1">
                  <TagPercentage posts={posts} />
                </section>
              </ScrollArea>
          </div>
        </div>

        <!-- Mobile -->
        <div class="md:hidden">
          <ScrollArea class="flex-1 h-full">
            <slot />
          </ScrollArea>
        </div>

      </div>
    </div>
  </body>
</html>
