---
import config from '@/consts'
import { getEntry } from 'astro:content'
import { isNil } from 'ramda'
import ArticleToc from '../components/ArticleToc.astro'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Giscus from '../components/Giscus.astro'
import Header from '../components/Header.astro'
import LicenseCard from '../components/LicenseCard.astro'
import ScrollArea from '../components/ScrollArea.astro'
import { getLanguageCode } from '../lib/utils'
import '@/theme/styles/global.scss'
import '@/theme/styles/post.scss'

type Props = {
  slug: string
}

const { slug } = Astro.props

const product = await getEntry('blog', slug)
if (isNil(product)) {
  throw new Error(`${slug} not found`)
}
const { Content, headings } = await product.render()
const { data: { title, description } } = product;
---

<html lang={getLanguageCode()}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="flex flex-col h-screen">
    <Header />
    <ScrollArea class="flex-1 flex w-full">
      <section class="basis-1/5 lg:flex hidden" />
      <ScrollArea id="main-scroll" class="flex-1">
        <main class="max-w-prose p-4 mx-auto flex flex-col gap-8">
          <article class="prose dark:prose-invert" data-pagefind-body>
            <Content />
          </article>
          <LicenseCard
            title={title}
            url={Astro.url.href}
            author={config.author.name}
            description={`作者：${config.author.name}`}
          />
          { config.comment?.giscus && <Giscus {...config.comment.giscus} /> }
        </main>
        <Footer />
      </ScrollArea>
      <ScrollArea class="basis-1/4 lg:basis-1/5 md:(flex border-l border-neutral) flex-col hidden">
        <ArticleToc headings={headings} />
      </ScrollArea>
    </ScrollArea>
  </body>
</html>
